$primary-color: #0f52ba;
$secondary-color: #0b4192;

$primary-text-color: #fff;
$secondary-text-color: #000;

$primary-background-color: #fff;
$secondary-background-color: #eee;
$third-background-color: #373737;
$fourth-background-color: #b1b1b1;
