.productCardSkeleton {
  width: 290px;
  height: 365px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: center;
  border: 1px solid #868686;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 10px;
}

.productCardSkeletonImage {
  width: 200px;
  height: 170px;
  background-color: #505050;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  animation: loading 0.5s infinite linear alternate-reverse;

}

.productCardSkeletonInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.productCardSkeletonTitle {
  width: 70%;
  height: 20px;
  background-color: #505050;
  margin-bottom: 10px;
  border-radius: 10px;
  animation: loading 0.5s infinite linear alternate-reverse;

}

.productCardSkeletonPrice {
  width: 20%;
  height: 20px;
  background-color: #505050;
  margin-bottom: 10px;
  border-radius: 10px;
  animation: loading 0.5s infinite linear alternate-reverse;

}

.productCardSkeletonDescription {
  width: 100%;
  height: 90px;
  background-color: #505050;
  border-radius: 10px;
  animation: loading 0.5s infinite linear alternate-reverse;
  // transition: all 0.5s ease;
}
@keyframes loading {
  0% {
    background-color: #444; /* tom mais escuro */
  }
  50% {
    background-color: #555; /* tom intermediário */
  }
  100% {
    background-color: #666; /* tom mais claro */
  }
}
