.cardItem {
  padding: 5px 15px;
  margin: 10px 50px;
  height: 95px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  p {
    padding: 0 10px;
    width: 85px;
    // background-color: beige;
  }
  h3 {
    font-size: 16px;
    width: 120px;
  }
  h2 {
    font-size: 13px;
    margin-left: 6px;
    width: 110px;
  }
}
.buttonClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -45px;
  right: -21px;
  background-color: black;
  color: white;
  border-radius: 100%;
  width: 36px;
  height: 21px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
